body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Montserrat;
}

/* to disable the outline in cell of the datagrid */
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .css-yvpc5e-MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
